.prizes {
    width: 100%;
    display: grid;
}

.prizes main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prizes h1 {
    text-align: center;
    text-shadow: 10px 10px 10px #8EA389;
    letter-spacing: 2rem;
    font-size: 4rem;
    letter-spacing: 50%;
    margin: 4rem 0 2.5rem 0;
}

.prizes main p {
    padding: 1rem;
    width: 43rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: right;  
}

.prizeBox {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 14rem);
    grid-auto-rows: 12rem;
}


@media (max-width: 740px) {
    .prizeBox {
        grid-template-columns: repeat(2, 14rem);
    }

    .prizes main p {
        width: 90%; 
    }
}

@media (max-width: 670px) {
    :root {
      font-size: 14px;
    }
}

@media (max-width: 470px) {
    .prizeBox {
        grid-template-columns: repeat(1, 14rem);
    }

    .prizes main p {
        width: 90%; 
    }
}

@media (max-width: 420px) {
    .prizes h1 {
        letter-spacing: 1rem;
    }
}