.auth_container {
	height: 100%;
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
}

.auth_form {
	display: flex;
	flex-direction: column;
}

.auth_form label {
	padding-top: 10px;
}

.auth_form button {
	margin-top: 16px;
}
