.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar ul {
    display: flex;
    padding: 0;
}

.navbar li {
    list-style: none;
    padding-right: 1rem;
}