.ideaCard {
    display: flex;
    flex-direction: column;
    border: none;
    width: 30rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsla(0, 0%, 85%, 0.5);
}

.user {
    display: flex;
    justify-content: space-between;
}

.ideaCard .user + p {
    margin: 0;
    padding: 1rem 0;
    overflow-wrap: break-word;
}

.ideaCard button {
    width: 4.5rem;
    border: none;
    border-radius: 1.5rem;
    padding: 0.3rem;
    font-size: 0.7rem;
    font-weight: 500;
    background-color: #8EA38A;
    color: white;
}

.ideaCard button:hover {
    cursor: pointer;
    padding: 0;
    font-weight: 800;
    color:#8EA38A;
    background-color: transparent;
}

.btn {
    display: flex;
    justify-content: flex-end;
}

.btn :first-child {
    margin-right: 0.5rem;
}

textarea.edition {
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    /* height: max-content; */
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    color:rgb(107, 107, 107);
    resize:none;
    min-height:auto;
    overflow:hidden;
    text-overflow:none;
}

div.user + textarea:focus {
    outline: none;
}