.container {
	display: grid;
	justify-items: center;
}

.background {
	width: min-content;
	height: 100%;
	min-height: 22rem;
	min-width: 25rem;
	display: flex;
	justify-content: center;
	align-items: end;
	position: relative;
}

.tree {
	width: 7rem;
	height: 7rem;
	background-image: url("/assets/images/page-main/tree-11.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 8%;
	bottom: 15%;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.2s forwards;
}

.tree1 {
	width: 5rem;
	height: 5rem;
	background-image: url("/assets/images/page-main/tree-12.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 18%;
	bottom: 13%;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.5s forwards;
}

.tree2 {
	width: 7rem;
	height: 7rem;
	background-image: url("/assets/images/page-main/tree-12.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 0;
	bottom: 15%;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.4s forwards;
}

.sun {
	width: 6rem;
	height: 6rem;
	background-image: url("/assets/images/page-main/sun.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 10%;
	left: 0;
	opacity: 0;
	animation-name: fade-in, rotate;
	animation-duration: 1s, 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.05s, 0.4s;
	animation-fill-mode: forwards;
}

.plant {
	width: 4rem;
	height: 4rem;
	background-image: url("/assets/images/page-main/plant-11.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 12%;
	z-index: 2;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.6s forwards;
}

.cloud {
	width: 7rem;
	height: 7rem;
	background-image: url("/assets/images/page-main/cloud.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
}

.background .cloud:first-child {
	width: 5rem;
	height: 5rem;
	top: 20%;
	left: 30%;
	animation: floating 30s cubic-bezier(0.46, 0.1, 0.58, 0.89) infinite;
}

.background .cloud:nth-child(2) {
	top: 10%;
	left: 0;
	animation: floating 25s cubic-bezier(0.46, 0.1, 0.58, 0.89) infinite;
}

.background .cloud:nth-child(3) {
	top: 15%;
	right: 0;
	animation: floating 20s cubic-bezier(0.46, 0.1, 0.58, 0.89) infinite;
}

.trash {
	width: 9rem;
	height: 9rem;
	background-image: url("/assets/images/page-main/trash.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 0;
	bottom: 5%;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.4s forwards;
}

.garbage {
	width: 7rem;
	height: 7rem;
	background-image: url("/assets/images/page-main/garbage-bag.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 3%;
	bottom: 10%;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.2s forwards;
}

.garbage1 {
	width: 5rem;
	height: 5rem;
	background-image: url("/assets/images/page-main/garbage-bag.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 17%;
	bottom: 9%;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.3s forwards;
}

.garbage2 {
	width: 6rem;
	height: 6rem;
	background-image: url("/assets/images/page-main/garbage-bag.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 8%;
	bottom: 10%;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.1s forwards;
}

.bin {
	width: 6rem;
	height: 6rem;
	background-image: url("/assets/images/page-main/recycle-bin.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 8%;
	bottom: 10%;
	opacity: 0;
	animation: fade-in 1s ease-in-out 0.4s forwards;
}

.background .para {
	position: absolute;
	bottom: -1rem;
	margin: 0;
	font-size: 1.2rem;
	font-weight: 400;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	line-height: 2rem;
	text-align: center;
}

@media (max-width: 370px) {
	.tree,
	.tree1,
	.tree2,
	.bin,
	.garbage,
	.garbage1,
	.garbage2,
	.plant,
	.trash {
		bottom: 17%;
	}

	.background {
		min-width: 19rem;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(45deg);
	}
}

@keyframes floating {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	50% {
		transform: translateY(0%);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}
