.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.footer ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer li {
    list-style: none;
}