.container {
        width: auto;
        height: auto;
        background: #F1F5F0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        
}
.title {
        display: block;
        width: 1032px;
        height: 70px;
        left: calc(50% - 1032px/2);
        top: 170px;
    
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
            letter-spacing: 0.5em;
            font-feature-settings: 'kern' off;
        
            color: #000000;
        
            text-shadow: 10px 10px 10px #8EA389;
}

.subtitle {

    width: 386px;
    height: 21px;
   justify-self: right;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.articleContainer {
       
        width: 1032px;
        height: 337.79px;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.5fr 4fr;
        grid-template-rows: 1fr 1fr 2fr 1fr;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        
       
}
.articleLink {
          flex-direction: row; 
        grid-column: 1 / 2;
        grid-row: 4 / 4;
}


.articleButton {
        
      
        padding: 13px 13px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    
       

        background: #8EA38A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
      
        color: #EFF4EE;
        cursor: pointer;

}

.articleImage {
        
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 20px;
        width: 100%;
        height: 100%;

}
.imageContainer {
        grid-column: 5 / 6;
                grid-row: 1 / 5;
        position: relative;
                z-index: 1;
}
.articleText {
            font-family: 'Josefin Sans';
            font-style: italic;
            font-weight: 100;
            font-size: 20px;
            line-height: 20px;
            color: #1D1F21;
        grid-column: 1 / 4;
        grid-row: 3 /  4;
        width: 100%;
        height: 100%;
        text-align: justify;

}

.articleHeader {
        grid-row: 2/3;
        grid-column: 1/4;
        font-size: 40px ;
       
}
.articleAuthor {
        grid-row: 1/3;
        grid-column: 1/4;
}
.pinkHeart {
        grid-column: 4/5;
        position: absolute;
        
        grid-row: 1/2;
        width: 50px;
        height: 50px;
        z-index: 2;
}
.heart {
       position: absolute;
        grid-column: 4/5;
                grid-row: 1/2;
                width: 50px;
                height: 50px;
                z-index: 2;
                }
.heart:hover {
                cursor: pointer;
                }







