.container {
  background: #f1f5f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  text-shadow: 10px 10px 10px #8ea389;
  letter-spacing: 2rem;
  font-size: 4rem;
  letter-spacing: 50%;
  margin: 4rem 0 2.5rem 0;
}

.subtitle {
  padding: 1rem;
  width: 43rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: right;
}

.articleContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 19rem 24rem;
  grid-template-rows: 1rem auto 1fr 2.5rem;
  grid-template-areas:
    "author img"
    "h1 img"
    "p img"
    "btn img";
  margin-bottom: 7rem;
  width: 43rem;
  height: 15rem;
}
.articleLink {
  flex-direction: row;
  grid-column: 1 / 2;
  grid-row: 4 / 4;
  grid-area: btn;
}

.articleButton {
  flex-direction: row;
  background: #8ea38a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem;
  width: 8rem;
  font-size: 1rem;
  background-color: #8ea38a;
  color: white;
}

.articleButton:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 85%, 0.5);
  color: #8ea38a;
}

.articleImage {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageContainer {
  grid-area: img;
  position: relative;
  z-index: 1;
}
.articleText {
  font-family: "Josefin Sans";
  color: #1d1f21;
  grid-area: p;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 1rem 1rem 0 0;
  align-self: flex-start;
}

.articleHeader {
  font-weight: 800;
  grid-area: h1;
  font-size: 2rem;
  line-height: normal;
  padding-top: 0.8rem;
  margin: 0;
  align-self: flex-start;
}
.articleAuthor {
  grid-area: author;
  margin: 0;
}
.pinkHeart {
  grid-column: 4/5;
  position: absolute;
  grid-row: 1/2;
  width: 50px;
  height: 50px;
  z-index: 2;
  top: 7px;
  left: 7px;
}
.heart {
  position: absolute;
  grid-column: 4/5;
  grid-row: 1/2;
  width: 50px;
  height: 50px;
  z-index: 2;
  top: 7px;
  left: 7px;
}

.heart:hover {
  cursor: pointer;
}

@media (max-width: 740px) {
  .articleContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1rem min-content min-content min-content min-content;
    grid-template-areas:
      "author"
      "h1"
      "img"
      "p"
      "btn";
    width: 80vw;
    height: min-content;
    margin: 3rem;
  }

  .subtitle {
    width: 90%; 
}

  .articleHeader {
    padding: 0.8rem 0;
  }

  .articleText {
    padding: 1rem 0;
  }
}


@media (max-width: 510px) {
  .title {
      letter-spacing: 1rem;
  }
}

@media (max-width: 420px) {
  .title {
      letter-spacing: 0.85rem;
  }
}

@media (max-width: 350px) {
  .title {
      letter-spacing: 0.5rem;
  }
}